<footer>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <h1><a href="https://gitlab.informatics.ru/team-vadim-/virtual-person.git"><img style="width: 15px;" src="/static/img/git.png" href="https://gitlab.informatics.ru/team-vadim-/virtual-person.git"></a><br>
    <script src="/static/js/footer.js"></script>
    <div class="popup" onclick="myFunction()">Как пользоваться?
        <span class="popuptext" id="myPopup"><embed src="/static/img/ruk.pdf" width="1000px" height="1250px" ></span>
    </div>
    <a href="/docs/build/html/index.html"> Документация</a><br>
        Служба поддержки: admin@virtual-person.ru<br>
        ©TeamVadim<br>
        2020</h1>
</footer>
