<header>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{%  static '/img/favicon.ico' %}" type="image/x-icon">
	<div class="overlay">
<!--<h1>Virtual Vadim</h1>-->

        <table class="vv">
            <tr>
                <th><div class="gradz"><h5>V</h5></div></th>
                <th class="vv2">irtual</th>
                <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                 <th><div class="gradz"><h5>V</h5></div></th>
                <th class="vv2">adim</th>
            </tr>
        </table>
<h3>СОЗДАЙ СВОЕГО ВИРТУАЛЬНОГО ЧЕЛОВЕКА</h3>

	<br><br><br><br>


        <table>
            <tr>
                <th>ПОЛЬЗОВАТЕЛЕЙ</th>
                <th>СОЗДАНО БОТОВ</th>
                <th>БОТОВ В РАБОТЕ</th>
            </tr>
            <tr>
                <th class="grad"><h2>123</h2></th>
                <th class="grad"><h2>123</h2></th>
                <th class="grad"><h2>123</h2></th>

            </tr>
        </table>
<br><br>


 <a href="/bot/"><svg class="liquid-button"
     data-text="СОЗДАТЬ"
     data-force-factor="0.1"
     data-layer-1-viscosity="0.5"
     data-layer-2-viscosity="0.4"
     data-layer-1-mouse-force="400"
     data-layer-2-mouse-force="500"
     data-layer-1-force-limit="1"
     data-layer-2-force-limit="2"
     data-color1=" #24303F"
     data-color2="#fc6767"
     data-color3="#ec008c"></svg></a>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.4/dat.gui.min.js'></script>
<script src="/static/js/button.js"></script>

		</div>

</header>

